.App {
  width: 100vw;
  height: 100vh;
  background: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#clause {
  margin: 10px;
  font-size: 10px;
}
#clause a{
  text-decoration: none;
  font-weight: 700;
  color: #9B59B6;
}
/* #9B59B6; */