#breedSelector {
  position: relative;
  margin: 10px;
}
#breeds {
  width: 200px;
  padding: 0 20px;
  border: 1px solid #9B59B6;
  height: 40px;
  border-radius: 5px;
  color: #9B59B6;
  text-align: center;
  outline: none;
}
#breeds option {
  text-align: left;
  color: black;
  background: white;
}
@media only screen and (max-width: 768px) {
  #breedSelector {
    top: 0;
  }
  #breeds {
    width: 100%;
  }
}