.polaroidFrame {
    background: white;
    width: 42vh;
    height: 50vh;
    margin: 3vh;
    box-shadow: 0 0 20px darkgray;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    transition: all 0.5s ease;
}

.polaroidPhoto {
    margin: 3vh;
    margin-bottom: 1vh;
    background-clip: clip;
    width: 36vh;
    height: 36vh;
    background: lightslategrey;
}

.polaroidDescription {
    font-family: "Loved by the king";
    font-size: 4vh;
    height: auto;
    padding: 0 30px;
}